h1 {
  color: white;
  text-align: center;

}

header h1{
  color: skyblue
}

header h1::selection {
  background-color: black;
}

body {
  background-color: black;  
  color: skyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

a {
  color:skyblue;
  text-decoration: underline;
  

}

.subtitle {
  color: white;
  text-align: left;
  text-decoration: underline;

}

.title {
  color:white
  text-align: center;
  text-decoration: underline;

}
